@import "../base/colores";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: nth($colores,4);
}
a:link{
    text-decoration: none;  
}

a:visited {
    text-decoration: none;
    
}

p {
    color: nth($colores,5);
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    font-family: RedHat; 
    text-align: justify;
    font-size: 80%;
    align-content: center;     
}

h1 {
    color: nth($colores,5);
    text-shadow: 0 0 5px nth($colores,6), 0 0 15px nth($colores,6), 0 0 30px nth($colores,7), 0 0 50px nth($colores,7);
}

h2 {
    color: nth($colores,5);
    font-family: Amaticbold; 
    text-align: center;
    margin-top: 3%;
    text-shadow: 0 0 5px nth($colores,2),0 0 15px nth($colores,2), 0 0 30px nth($colores,8), 0 0 50px nth($colores,8);
    font-size: 280%;
    
}

.titulo h1 {
    
    display: flex;
    color: nth($colores,5);
    align-items: center;
    justify-content: center;
    font-family: Moontime;
    margin-top: 3em;
    text-align: center;
    font-size: 300%;
    text-shadow: 0 0 5px nth($colores,6), 0 0 15px nth($colores,6), 0 0 30px nth($colores,7), 0 0 50px nth($colores,7);
  
}

#imgenc {

    display: flex;
    flex-wrap: nowrap;
    object-fit: cover;
    padding: 0;
    margin: 0;
    align-content: center;
    opacity: .8; 
    max-width: 100%; 
}

h3 {
    color: nth($colores,5);
    font-family: Amaticbold;
    text-align: center;
    text-indent: 1em;
    text-shadow: 0 0 5px nth($colores,3), 0 0 30px nth($colores,3), 0 0 50px nth($colores,7);
    font-size: 250%;
}