#imgorg img {
    width: 60%;
    height: 60%;
    background-color: nth($colores,4);
}

.texto {
    margin-left: 25%;
    font-family: RedHat;
    font-size: larger;
    width: 50%;
    align-items: center;
    
    text-align: justify;
}

#cardorg {
    background-color: nth($colores,4);
    border: none;
}